.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.add-dialog {
  padding: 10px;
  height: 262px;
}

.item {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fefefe;
  border-radius: 6px;
  box-shadow: 0 1px 2px #DCDADB;
}

.form-group.extra-margin {
  margin-bottom: 52px;
}

.color-9a {
  color: #9a9a9a;
}

input.input-file {
  display: none;
}