html {
  height: 100%;
}

body {
  font: Helvetica, Arial, sans-serif;
  min-height: 100%;
  background: #F8F5EE;
}

input.input-file {
  display: none;
}

a {
  color: #3BBBB2;
}

a:hover {
  color: #349E97;
}

.fixed-image {
  background-size: cover;
  background-position: 50% 10%;
  height: 100%;
}

.item {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 1px 2px #DCDADB;
}

.item-inner {
  margin: 10px 10px 0 10px;
  height: inherit;
}

.link {
  display: block;
  overflow: hidden;
  text-align: center;
  height: 200px;
}

.link:hover {
  text-decoration: none;
}

.unknown {
  height: inherit;
  text-align: center;
}

.unknown .file-block {
  width: 64px;
  height: 64px;
  background-color: rgba(37, 153, 172, 0.7);
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  top: 36%;
}

.unknown:hover {
  opacity: 0.9;
}

.unknown .file-block:hover {
  text-decoration: none;
}

.file-block div {
  color: white;
  font-size: 1.8em;
  padding-top: 16px;
  text-transform: uppercase;
}

.item-row {
  margin-top: 16px;
}

.title-block {
  display: block;
  margin: 0;
  padding: 8px 10px;
  font-weight: 500;
  color: rgba(37, 153, 172, 1);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.title-block .title {
  white-space: nowrap;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.color-9a {
  color: #9a9a9a;
}

.row:last-child {
  margin-bottom: 2em;
}