html {
  height: 100%;
}

body {
  font: Helvetica, Arial, sans-serif;
  min-height: 100%;
  background: #F8F5EE;
}

input.input-file {
  display: none;
}

a {
  color: #3BBBB2;
}

a:hover {
  color: #349E97;
}

a.head-logo {
  color: inherit;
}

a.head-logo:hover {
  color: inherit;
  text-decoration: none;
}

.fixed-image {
  background-size: cover;
  background-position: 50% 10%;
  height: 100%;
}

.item {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fefefe;
  border-radius: 6px;
  box-shadow: 0 1px 2px #DCDADB;
}

.add-dialog {
  padding: 10px;
  height: 262px;
}

.item-inner {
  margin: 10px;
  height: inherit;
}

.item-detail {
  text-align: center;
}

.item-detail img {
  max-width: 100%;
}

.link {
  display: block;
  text-align: center;
  height: 200px;
}

.link:hover {
  text-decoration: none;
}

.unknown {
  height: inherit;
  text-align: center;
}

.unknown .file-block {
  width: 64px;
  height: 64px;
  background-color: rgba(37, 153, 172, 0.7);
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  top: 36%;
}

.unknown:hover {
  opacity: 0.9;
}

.unknown .file-block:hover {
  text-decoration: none;
}

.file-block div {
  color: white;
  font-size: 1.8em;
  padding-top: 16px;
  text-transform: uppercase;
}

.item-row {
  margin-top: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.item-row .item-overlay {
  position: absolute;
  width: 90%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 2s;
}

.title-block {
  display: block;
  margin: 0;
  padding: 8px 10px;
  font-weight: 500;
  color: rgba(37, 153, 172, 1);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.title-block .title {
  white-space: nowrap;
  width: 75%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.cog {
  position: relative;
  float: right;
}

.cog .cog-inner {
  top: 0;
  right: 0;

  color: #EFF0EB;
  text-decoration: none;
  position: absolute;
  line-height: 10px;
  padding: 1px;
  cursor: pointer;
}

.cog-inner:hover {
  color: #121212;
}

.color-9a {
  color: #9a9a9a;
}

.cog-inner.remove {
  font-size: 24px;
  top: -10px;
  right: -10px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  padding: 0px;
  margin: 1px;
  z-index: 1;
}

.cog-inner.remove:hover {
  background: white;
  color: rgba(0,0,0,0.6);
}

.row:last-child {
  margin-bottom: 2em;
}

.show {
  display: block;
}

.remove-circle {
  top: 0;
}

.timeago-text {
  font-size: 12px;
  color: #988D79;
}

.edit-name {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  color: #3BBBB2;
}

.item-link {
  border-bottom: 1px dashed white;
}

.search-form {
  position: fixed;
  top: 20px;
  right: 85px;
}

.pages {
  display: inline-block;
  float: right;
  font-size: 0.8em;
}

.page {
  color: #988D79;
  opacity: 0.8;
}

.pages .glyphicon-chevron-right, .pages .glyphicon-chevron-left {
  color: #988D79;
  opacity: 0.8;
}

.pages .glyphicon-chevron-right:hover, .pages .glyphicon-chevron-left:hover {
  opacity: 1;
}

.download {
  text-align: center;
  margin: 20px 0;
}

.stats-details {
  margin-top: 10px;
}

.form-group.extra-margin {
  margin-bottom: 52px;
}

.qrcode {
  margin: 0 auto;
  display: block;
}