@import '../../node_modules/bootstrap/less/bootstrap.less';

html {
  height: 100%;
}

body {
  font: Helvetica, Arial, sans-serif;
  min-height: 100%;
  background: #F8F5EE;
}

a {
  color: #3BBBB2;
}

h1, h2, h3, label {
  color: #333;
}

a:hover {
  color: #349E97;
}
